/*General Set Up*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Quicksand&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");

/* font-family: 'Heebo', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

html * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --reading: #aded9c;
  --writing: #eb6767;
  --speaking: #ebe667;
  --listening: #67ebeb;
  --transparent: #00000087;
  --shadowspread: 0px 4px 4px rgb(0 0 0 / 25%);
  --borderRadius: 10px;
  --iconWidth: 50px;
  --iconHeight: 50px;
  --darkColor: #d9d9d9;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #c1e8f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Dashboard Container*/

.dashboard_container {
  display: flex;
  height: 95%;
  width: 97%;
  background-color: #fcf9f9;
  border-radius: var(--borderRadius);
}

nav {
  flex: 15%;
  background-color: #fcf9f9;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  border-right: 1px solid rgba(0, 0, 0, 0.276);
}

main {
  flex: 85%;
  background-color: #fcf9f9;
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 6% 20% 6% auto;
  padding: 30px 50px;
  column-gap: 8%;
}

/*Navigation Bar*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainIcon_container {
  margin: 0 auto;
  text-align: center;
}

.mainIcon_container img {
  width: 48%;
  height: auto;
}

nav > div:first-child h3 {
  font-family: "Roboto", sans-serif;
  color: green;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: -0.12rem;
  font-weight: bolder;
}

nav > ul li {
  color: black;
  font-size: 1.5rem;
  padding: 8px 0 8px 51px;
  background-repeat: no-repeat;
  background-position: top -1px left 0px;
  background-size: 40px 40px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

nav > ul:nth-of-type(1) a:nth-child(1) li {
  background-image: url("../Assets/overview.png");
}

nav > ul:nth-of-type(1) a:nth-child(2) li {
  background-image: url("../Assets/homework.png");
}

nav > ul:nth-of-type(1) a:nth-child(3) li {
  background-image: url("../Assets/exercise.png");
}

nav > ul:nth-of-type(1) a:nth-child(4) li {
  background-image: url("../Assets/resource.svg");
}

nav > ul:nth-of-type(1) a:nth-child(5) li {
  background-image: url("../Assets/message.svg");
}

nav > ul:nth-of-type(1) a:nth-child(6) li {
  background-image: url("../Assets/history.png");
}

nav > ul:nth-of-type(1) a:nth-child(7) li {
  background-image: url("../Assets/community.png");
}

nav > ul:nth-of-type(2) li {
  padding: 8px 35px 8px 51px;
}

nav > ul:nth-of-type(2) a:nth-child(1) li {
  background-image: url("../Assets/settings.png");
}

nav > ul:nth-of-type(2) a:nth-child(2) li {
  background-image: url("../Assets/support.svg");
}

nav > ul:nth-of-type(2) a:nth-child(3) li {
  background-image: url("../Assets/privacy.svg");
}

/*Main*/

/*Main Top*/
.main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/4;
  grid-row: 1;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userimg_container {
  border-radius: 50%;
  height: 100%;
  width: 30%;
  padding: 0px;
  border: 3px solid red;
  overflow: hidden;
}

.userimg_container img {
  width: 100%;
  height: 100%;
}

.main_top h4 {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  margin-left: 20px;
}

.logout_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 60%;
  align-self: flex-start;
}

.logout_container img {
  width: 60%;
  height: 100%;
}

.logout_container span {
  font-size: 80%;
  margin-top: 6px;
  font-weight: bold;
}

main h1 {
  justify-self: center;
  align-self: end;
}

main h2 {
  align-self: flex-end;
  font-size: 1.7rem;
}

.classBox {
  border-radius: var(--borderRadius);
  /* border: 1px solid black; */
  margin: 10px;
  box-shadow: var(--shadowspread);
  padding: 10px 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.courseBox img {
  width: 18%;
}

.unitBox {
  background-color: #ffe6e6;
  font-size: 2.7rem;
}

.unitBox h1 {
  font-size: 100%;
}

.classBox_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.classBox_container .classBox {
  flex: 1;
  margin: 10px 0;
}

.classBox_container div:first-child {
  background-color: #fcf669;
}

.classBox_container div:first-child img {
  width: 59%;
  margin-top: 5px;
}

.classBox_container div:nth-child(2) {
  background-color: #dafff4;
  font-size: 90%;
}

.classBox_container div:nth-child(2) span {
  font-size: 2.6rem;
  display: inline-block;
}

.classBox_container div:nth-child(2) img {
  width: 38%;
  display: inline-block;
}

.classBox_container div.wrapper {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 5px;
}

/*Exercise and Homework Grid*/

.homework-grid,
.exercise-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.5fr 1fr 3fr;
}

.homework-grid {
  grid-column: 1;
  grid-row: 5;
}

.exercise-grid {
  grid-column: 2;
  grid-row: 5;
}

.homework-grid .classBox {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 25px;
}

.writing,
.listening,
.speaking,
.reading {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.writing {
  background-color: var(--writing);
  background-image: url("../Assets/writing.svg");
}

.listening {
  background-color: var(--listening);
  background-image: url("../Assets/listening.png");
}

.reading {
  background-color: var(--reading);
  background-image: url("../Assets/Reading.png");
}

.speaking {
  background-color: var(--speaking);
  background-image: url("../Assets/Speaking.png");
}

.skill-icon {
  border-radius: var(--borderRadius);
  height: 77%;
  width: 38%;
  box-shadow: var(--shadowspread);
}

.textwrapper {
  width: 100%;
}

.textwrapper p:first-child {
  font-weight: bold;
}

.textwrapper p:nth-child(n + 2) {
  text-align: left;
  color: var(--transparent);
}

.textwrapper p:nth-child(2) {
  margin-top: 8px;
}

.textwrapper p:nth-child(3) {
  padding: 15px 0;
  background-image: url("../Assets/Star.png");
  background-repeat: no-repeat;
  background-size: 16% 78%;
  background-position: top 5px left 46px;
}

.exercise-grid .classBox {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 25px;
}

.exercise-grid .textwrapper {
  height: 79%;
}

.exercise-grid .textwrapper p:first-child {
  margin-bottom: 10px;
}

.exercise-grid .textwrapper p:nth-child(2) {
  padding: 15px 0;
  /* background-image: url('../Assets/Star.png');
  background-repeat: no-repeat;
  background-size: 16% 78%;
  background-position: top 5px left 46px; */
  background: url("../Assets/Star.png") no-repeat top 5px left 46px / 16% 78%,
    url("../Assets/Star.png") no-repeat top 5px left 86px / 16% 78%,
    url("../Assets/Star.png") no-repeat top 5px left 126px / 16% 78%;
}

.homework-grid h1,
.exercise-grid h1 {
  font-size: 2.3rem;
  text-align: center;
}

/*Completed HW and exercises containers*/

.completedContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  grid-auto-rows: calc(100%/3);
  column-gap: 3%;
  align-items: center;
}

.completedContainer .classBox {
  box-shadow: 0px 1px 1px black;
  background-color: var(--darkColor);
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  gap: 5px;
}

.completedContainer .skill-icon {
  width: 44%;
}

.completedContainer .textwrapper p {
  text-align: center;
}

/*Fixing Exercise Grid*/


#overlap p:first-child {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 14px;
}

#overlap .textwrapper p:nth-child(2) {
  padding: 0;
  background: none;
  margin-top: 8px;
}

#overlap .textwrapper {
  height: initial;
}

/* Announcements and Trending Section */

.news{
  height: 100%;
  width: 100%;
  grid-area: 5/3/6/4;
  display: grid;
  grid-template-rows: 40% 10% 50%;
  grid-template-columns: 100%;
}

.news h2 {
  align-self: flex-end;
  font-size: 1.7rem;
}

.news .announcementContainer p:first-child{
  font-weight: bolder;
  margin-bottom: 6px;
}

.news .announcementContainer p:nth-child(2){
  color: var(--transparent);
}

.announcementContainer{
  background-color: #FFFFFF;
  border-radius: var(--borderRadius);
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 20px;
  box-shadow: var(--shadowspread);
  margin: 10px;
}

.announcementContainer > div:first-child{
  border-bottom: 1px solid var(--transparent);
}

.announcementContainer div{
  flex: 1;
  margin-top: 10px;
}

/*    Trending Section    */

.yellow{
  background-color: #E4D33A;
}

.blue{
  background-color: #3AA7E4;
}

.orange{
  background-color: #FFA500;
}

.trendingContainer{
  background-color: #FFFFFF;
  border-radius: var(--borderRadius);
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  padding: 10px 20px;
  box-shadow: var(--shadowspread);
  margin: 10px;
}

.news .trendingContainer p:first-child{
  font-weight: bolder;
  margin-bottom: 6px;
}

.news .trendingContainer p:nth-child(2){
  color: var(--transparent);
}

.trendingItem{
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.trending_usericon{
  border-radius: 50%;
  margin-right: 20px;
  width: 16%;
  height: 100%;
}